.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.gallery {
  margin-left: 150px;
  margin-right: 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style: none;
  padding: 0;
}

.gallery-item {
  margin: 0;
}

.gallery-image {
  width: 100%;
  height: auto;
  cursor: pointer;
  border-radius: 5px;
}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev-button,
.next-button {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
}

.modal-image {
  margin: 0 20px;
}
